* {
    font-family: 'Shadows Into Light Two', cursive;
    list-style: none;
}
body {
    background-color: #689CDE;
}
.welcome {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 350px;
    height: 300px;
    margin: 0 auto;
    background-color: white;
}
